In [4]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [37]:

# Setting variables to be used below
maxTweets = 1000

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:elonmusk').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.favorite_count, tweet.content, tweet.username])

AttributeError: 'Tweet' object has no attribute 'favorite_count'

In [16]:
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Like', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df1.head(20)

,Datetime,Tweet Id,Text,Username
0,2021-03-03 20:39:42+00:00,1367213114228318209,Launch abort on slightly conservative high thr...,elonmusk
1,2021-03-03 20:10:07+00:00,1367205667321171968,5 mins to Starship test flight attempt,elonmusk
2,2021-03-03 11:59:08+00:00,1367082108863320070,March 3rd,elonmusk
3,2021-03-03 11:30:39+00:00,1367074939317157888,Starship launch tomorrow. Window opens at 9am.,elonmusk
4,2021-03-03 05:13:30+00:00,1366980026147610624,@LuvMyModel3 @billhuang688 @F9Block5 @PPathole...,elonmusk
5,2021-03-03 04:29:03+00:00,1366968841209745410,@billhuang688 @F9Block5 @PPathole FSD beta bui...,elonmusk
6,2021-03-03 04:22:49+00:00,1366967273999671298,@LabPadre @SpaceX You’re welcome,elonmusk
7,2021-03-03 03:50:06+00:00,1366959040790601729,@PPathole @Erdayastronaut @LabPadre @Larry_in_...,elonmusk
8,2021-03-03 03:46:48+00:00,1366958209185943552,"@Erdayastronaut @LabPadre @Larry_in_Canada Ok,...",elonmusk
9,2021-03-03 03:35:16+00:00,1366955304752062464,@LabPadre @Larry_in_Canada First I’ve heard of...,elonmusk
10,2021-03-03 03:21:59+00:00,1366951962961268742,@DJSnM Indeed it was,elonmusk
11,2021-03-03 03:21:13+00:00,1366951771810062336,"@F9Block5 @PPathole Sounds about right, but we...",elonmusk
12,2021-03-03 03:16:49+00:00,1366950662127325186,@PPathole There was still a surprisingly high ...,elonmusk
13,2021-03-02 22:27:34+00:00,1366877869310320640,@Adamklotz_ @SpaceX Space,elonmusk
14,2021-03-02 21:19:32+00:00,1366860749503557636,"From thence to Mars,\nAnd hence the Stars.",elonmusk
15,2021-03-02 21:15:02+00:00,1366859619461570561,@nextspaceflight @NASASpaceflight An area much...,elonmusk
16,2021-03-02 21:07:09+00:00,1366857632372256770,@WootiezTV Very much so &amp; its leader shall...,elonmusk
17,2021-03-02 20:31:38+00:00,1366848696298561536,"Creating the city of Starbase, Texas",elonmusk
18,2021-03-02 20:26:55+00:00,1366847507725127681,@Pslavi Cool,elonmusk
19,2021-03-02 20:26:19+00:00,1366847359431282688,@teslaownersSV Yup,elonmusk

In [35]:
# Export dataframe into a CSV

tweets_df1.to_csv(r'D:\Desktop\Elon3.csv', sep = ';', index=False)